.Mails{
    width: 99%;
    height: 6.5rem;
    border: 1px solid black;
    margin: 1px;
    font: inherit;
    box-shadow: 3px 2px 3px 5px rgba(0, 0, 0, 0.06);
    background-color: rgb(255, 255, 255);
    border-radius: 2px;
}
.Mails.true{
    border-left: 3px solid blueviolet;
}
.Mails img{
    height: 25px;
    width: 25px;
    position: relative;
    top: -86%;
    left: 88%;
    color: yellow;
}
.circle{
    border: 1px solid rgb(15, 15, 15);
    border-radius: 50px;
    width: 3.1rem;
    height: 3.1rem;
    margin-right: 0%;
    margin-left: 6%;
    margin-top: 2%;
}
.message{
    width: 55%;
    height: 82%;
    /* border: 1px solid blue; */
    position: relative;
    top: -1%;
    left: 3%;
    /* overflow: hidden; */
}
.From{
    /* border: 1px solid orange; */
    width: 100%;
    height: 55%;
    font-weight: bold;
    font-size: 15px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    position: relative;
    top: -60%;
}
.date{
    /* border: 1px solid orangered; */
    height: 40%;
    width: 5rem;
    margin-top: 0%;
    font-size: 10px;
    line-height: 20px;
    color: #5d5c5c;
    position: absolute;
    overflow: hidden;
    right: -51%;
}
.up div{
    display: inline-block;
}
.up{
    width: 100%;
    height: 42%;margin-top: 1%;
    /* border: 1px solid blueviolet; */
}
.message-texte{
    width: 70%;
    height: 40%;
    /* border: 1px solid bisque; */
    margin-left: 16%;
    margin-top: 2%;
    text-overflow: ellipsis;
}
.subject{
    font-weight: bold;
    border: 1px solid blue;
    height: 50%;
    font-size: 14px;
    margin-left: 12%;
    text-overflow: ellipsis;
    text-wrap: nowrap;
    overflow: hidden;
    /* white-space: nowrap; */
    position: relative;
    top: -19%;
    width: 80%;
}
.texte{
    /* border: 1px solid red; */
    margin-top: 0%;
    font-size: 13px;
    width: 80%;
    height: 30%;
    padding-top: 1%;
    overflow-wrap: initial;
    text-overflow: ellipsis;
    overflow: hidden;
    position: relative;
    left: 12%;
    top: -10%;
    
    /* white-space: nowrap; */
}